node_modules
yotta_modules
yotta_targets
pxt_modules
built
typings
tmp
temp
projects/**
clients/win10/app/AppPackages
clients/win10/app/BundlePackages
clients/win10/app/BundleArtifacts
clients/win10/app/bin
clients/win10/app/bld
clients/win10/*.opendb
clients/**/bin/**
clients/**/obj/**
electron-out
hexcache
build
crowdinstats.csv
.pxt/

*.user
*.sw?
*.ts.new
*.tgz
*.db
*.suo
*.log
.vscode/.BROWSE.VC.DB-shm
.vscode/.BROWSE.VC.DB-wal
package-lock.json
.DS_Store

node_modules
yotta_modules
yotta_targets
pxt_modules
built
typings
tmp
temp
.vscode

*.user
*.sw?
*.ts.new
*.tgz
*.db
*.suo
*.log
.pioenvs
.piolibdeps
lib/
projects/
_locales/
libpxt.a
test
scripts/snorfs/stest*
scripts/raffs/stest*
package-lock.json

templater.sh
web/_temp
webapp/public/blockly
webapp/public/closure-library
webapp/public/skillmap.html
webapp/public/authcode.html
webapp/public/multiplayer.html
webapp/public/kiosk.html
webapp/public/teachertool.html
webapp/public/tutorialtool.html
localtypings/blockly.d.ts
node_modules
*.sw?
built
temp
packaged
gh-pages
/typings
kind_modules
pxt_modules
tmp/
*.ts.new
temp/
*.db
*.log
update-settings.sh
.DS_Store
paper.out
paper.dvi
paper.fls
paper.fdb_latexmk
paper.aux
tests/**/*.local.*
/package-lock.json
tests/ui-test/node_modules
tests/ui-test/.vs
tests/ui-test/package-lock.json
tests/ui-test/debug.log
tests/ui-test/chromedriver.exe
tests/ui-test/screenshot/**
report.*.json
*.tsbuildinfo
